:root{
    --grey:#f5f5f5;
    --blue:#3d88f9;
}

.chat-window{
    box-shadow: rgba(0, 0, 0, 0.24)0px 3px 8px;
    border-radius: 20px;
    border: 1px solid lightgrey;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 500px;
    width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.close{
    border: none;
    padding: 8px 0;
    background-color: #1a1a1a;
    color: white;
    border-radius: 20px 20px 0 0;
}

.chat{
    flex: 1;
    padding: 0 8px;
    overflow-y: scroll;

    p{
        border-radius: 20px;
        width: 80%;
        margin: 8px 0;
        font-size: 16px;
    }

    div.model{
        p{
            background-color: var(--grey);
            padding: 16px;
        }
    }
    div.user{
        display: flex;
        justify-content: flex-end;

        p{
            background-color: var(--blue);
            color: white;
            padding: 16px;
        }
    }
}

.input-area{
    background-color: aquamarine;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 8px;
    border-top: 1px solid lightgray;

    input{
        height: 40px;
        flex: 1;
        background-color: var(--grey);
        border-radius: 20px;
        padding-left: 20px;
        font-size: 16px;
    }
    button{
        height: 40px;
        border: none;
        width: 40px;
        border-radius: 100%;
        margin-left: 12px;
        background-color: var(--blue);
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

